
body
{
   background-color: #f7f7f7;
}

@font-face
{
   font-family: newfont;
   src: url(LilyScriptOneRegular.tff);
}

h1
{
   font-size: 60px;
   font-family: newfont;
   color: #040a42
}

h2
{
   color: gray;
   font-family: Courier New;
   text-decoration: none;
}

hr 
{
   border-color: #ffbd29;
   background-color: #ffbd29;
   border: 1px solid #ffbd29;
}

p
{
   font-family: arial;
   padding: 20px;
}


.logo
{
   position: fixed;
   top: 3px;
   left: 3px;
}

.middle
{
   left: 50%;
}

.texbox
{
   margin: 10px;
}

.box
{
   float: left;
   margin: 10px;
   border-radius: 8px;
}

.left
{
   float: left;
}

.right
{
   float: right;
}

.mar
{
   border-radius: 8px;
   margin:20px;
}

#gram
{
   background-color: #e5e5e5;
   border-radius: 10px;
}

#boxy
{
   width: 20%; 
   height: 200px;
   background-color: #293c59;
   border-radius: 8px;
   margin:10px;
}

#inner
{
   margin-left: 12em;
   padding-left: 1em;
   border-left: .1em solid #ffbd29;
}

#quickbar
{
   height: 230px;
}

#links 
{
   float: left;
   width: 10em;
   background-color: #ffbd29;
   border-width: .5em;
   border-style: outset;
}
/* the tabs VvV */
#navbar a{
  position: fixed;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#navbar a:hover {
  left: 0;
}

#a {
  top: 190px;
  background-color: #ffbd29;
}

#b {
  top: 260px;
  background-color: #091688;
}

#c {
  top: 330px;
  background-color: #ffbd29;
}

#d {
  top: 400px;
  background-color: #091688;
}
